<div class="page-container">
  <h2 class="page-title">User Settings</h2>

  <div
    class="settings-container"
    style="display: flex; flex-direction: column; gap: 1rem"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Theme</mat-label>
          <mat-select
            [ngModel]="currentTheme$ | async"
            (ngModelChange)="onThemeChange($event)"
          >
            <mat-option value="light">Light</mat-option>
            <mat-option value="dark">Dark</mat-option>
            <mat-option value="system">System</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Timezone</mat-label>
          <mat-select
            [ngModel]="currentTimezone$ | async"
            (ngModelChange)="onTimezoneChange($event)"
          >
            <mat-optgroup label="United States">
              <mat-option value="America/New_York"
                >America/New_York (Eastern Time)</mat-option
              >
              <mat-option value="America/Chicago"
                >America/Chicago (Central Time)</mat-option
              >
              <mat-option value="America/Denver"
                >America/Denver (Mountain Time)</mat-option
              >
              <mat-option value="America/Phoenix"
                >America/Phoenix (Arizona Time)</mat-option
              >
              <mat-option value="America/Los_Angeles"
                >America/Los_Angeles (Pacific Time)</mat-option
              >
              <mat-option value="America/Anchorage"
                >America/Anchorage (Alaska Time)</mat-option
              >
              <mat-option value="Pacific/Honolulu"
                >Pacific/Honolulu (Hawaii-Aleutian Time)</mat-option
              >
              <mat-option value="America/Indiana/Indianapolis"
                >America/Indiana/Indianapolis (Indiana Eastern Time)</mat-option
              >
              <mat-option value="America/Indiana/Tell_City"
                >America/Indiana/Tell_City (Indiana Central Time)</mat-option
              >
              <mat-option value="America/Puerto_Rico"
                >America/Puerto_Rico (Atlantic Standard Time)</mat-option
              >
            </mat-optgroup>
            <mat-optgroup label="Canada">
              <mat-option value="America/St_Johns"
                >America/St_Johns (Newfoundland Time)</mat-option
              >
              <mat-option value="America/Halifax"
                >America/Halifax (Atlantic Time)</mat-option
              >
              <mat-option value="America/Toronto"
                >America/Toronto (Eastern Time)</mat-option
              >
              <mat-option value="America/Winnipeg"
                >America/Winnipeg (Central Time)</mat-option
              >
              <mat-option value="America/Edmonton"
                >America/Edmonton (Mountain Time)</mat-option
              >
              <mat-option value="America/Vancouver"
                >America/Vancouver (Pacific Time)</mat-option
              >
            </mat-optgroup>
            <mat-optgroup label="Ireland and UK">
              <mat-option value="Europe/Dublin"
                >Europe/Dublin (Ireland Time)</mat-option
              >
              <mat-option value="Europe/London"
                >Europe/London (UK Time)</mat-option
              >
            </mat-optgroup>
            <mat-option value="UTC"
              >UTC (Coordinated Universal Time)</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Default Module</mat-label>
          <mat-select
            [ngModel]="currentDefaultModule$ | async"
            (ngModelChange)="onDefaultModuleChange($event)"
          >
          <mat-option value="features/dashboard">Dashboard</mat-option>
            <mat-option value="features/admin">Admin</mat-option>
            <mat-option value="features/template">Template</mat-option>
            <mat-option value="features/docs">Documentation</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select>
            <mat-option value="english-us">English (US)</mat-option>
          </mat-select> </mat-form-field
        >
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Notifications</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="display: flex; flex-direction: column; gap: 1rem">
          <h4>Email Notifications:</h4>
          <mat-checkbox>When New Users Join</mat-checkbox>
          <mat-checkbox>When a New Project is Created</mat-checkbox>
          <mat-checkbox>Comments on Posts</mat-checkbox>
          <mat-checkbox>Condition #4</mat-checkbox>
          <mat-checkbox>Condition #5</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="danger-card">
      <mat-card-header>
        <mat-card-title>Danger Zone</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-flat-button>Delete Account</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<p *ngIf="detectedTimezone !== (currentTimezone$ | async)">
  Your detected timezone ({{ detectedTimezone }}) is not in the list. The
  closest available timezone has been selected.
</p>
