:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-navbar {
  height: 3.2rem !important;
  align-items: end !important;
  padding-bottom: 0.35rem !important;
  .left-container {
    padding-top: 10px !important;
    margin-bottom: -8px !important;
    .mdc-floating-label {
      font-size: 0.75rem !important;
    }
    .mat-mdc-select-value {
      font-size: 1rem !important;
      padding-top: 2px !important;
    }
    .mdc-notched-outline {
      height: 35px !important;
      margin-top: 10px !important;
    }
    .sidenav-button {
      display: none !important;
    }
  }
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.left-container {
  display: flex;
  gap: 1rem;
  align-items: center;

  .module-button {
    display: flex;
    min-width: 200px;
    border-radius: 0%;
    font-size: 1.4rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.notifications-button {
  mat-icon {
    font-size: 1.1rem !important;
  }
}

.user-menu-button {
  font-weight: 450;
  font-size: 0.8rem;
  cursor: pointer;
}

.notifications-badge {
  background-color: #ff3300;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1000;
}

@media (max-width: 780px) {
  .logo-horizontal {
    display: none !important;
  }
  .logo-square {
    display: inline-block !important;
  }
}

@media (max-width: 480px) {
  .user-menu-button {
    font-weight: 450;
    font-size: 0.7rem;
    padding-top: 0rem !important;
    margin: 0px !important;
  }
  .notifications-button {
    mat-icon {
      font-size: 1rem !important;
    }
  }
  .right-container {
    gap: 0rem !important;
    margin-right: -1rem !important;
  }
}

@media (max-width: 400px) {
  .left-container {
    padding-bottom: 5px;
    .mdc-floating-label {
      font-size: 0.68rem !important;
      margin-bottom: 2px !important;
    }
    .mat-mdc-select-value {
      font-size: 0.7rem !important;
    }
    .mat-mdc-form-field {
      height: 25px !important;
      margin-top: -35px !important;
      max-width: 150px !important;
    }
    .mdc-list-item__primary-text {
      font-size: 0.5rem !important;
    }
    .mdc-notched-outline {
      height: 25px !important;
      margin-top: 7px !important;
    }
  }
}
