.mdc-button {
  border-radius: 0px !important;
  white-space: nowrap !important;

  // Set Button Padding for All Button Styles
  padding: 16px 20px !important;
}

.user-name-button {
  font-weight: 450;
  font-size: 1.0rem;
  padding: 0px 10px;
}

