// Module Tab Group
.module-tab-group {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  overflow: auto;
}

.module-tab {
  font-weight: semibold;
  min-width: 120px;

  padding: 12px 14px;
  margin-right: 8px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
  text-wrap: nowrap;


  &::after {
    content: "";
    position: absolute;
    bottom: -0px;
    left: 0;
    width: 100%;
    height: 2.25px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}
