<div class="carousel-container">
  <div class="carousel-content" [@carouselAnimation]="currentIndex">
    <img *ngFor="let image of images; let i = index"
         [src]="image.url"
         [alt]="image.alt"
         [class.active]="i === currentIndex">
  </div>
  <button mat-icon-button class="carousel-nav prev" (click)="prev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="carousel-nav next" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <div class="carousel-dots">
    <button
      mat-mini-fab
      *ngFor="let image of images; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></button>
  </div>
</div>
