<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>Buttons</mat-card-title>
            <mat-card-subtitle
              >Buttons are clickable elements that allow users to take actions and
              make choices with a single tap.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>