<h2>Edit Tenant</h2>
<mat-dialog-content>
  <form [formGroup]="editTenantForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Tenant Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="editTenantForm.get('name')?.hasError('required')">
        Tenant name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Logo URL</mat-label>
      <input matInput formControlName="logo_url" />
    </mat-form-field>

    <mat-checkbox formControlName="is_active">Is Active</mat-checkbox>
   
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="editTenantForm.invalid">Save</button>
</mat-dialog-actions>
