<mat-form-field appearance="outline">
  <mat-label>Search Users</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    type="text"
    #input
    autocomplete="off"
    aria-label="Search Users"
    name="search-items"
  />
</mat-form-field>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let tenant">{{ tenant.id }}</td>
    </ng-container>

    <ng-container matColumnDef="logo_url">
      <th mat-header-cell *matHeaderCellDef>Logo</th>
      <td mat-cell *matCellDef="let tenant">
        <img
          [src]="tenant.logo_url"
          alt="Logo"
          style="width: 100px; height: auto"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let tenant">{{ tenant.name }}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let tenant">
        {{ tenant.created_at | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
      <td mat-cell *matCellDef="let tenant">
        {{ tenant.is_active ? 'Yes' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button [matMenuTriggerFor]="tenantMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #tenantMenu="matMenu">
          <button mat-menu-item>Edit Tenant</button>
          <button mat-menu-item>View Tenant Details</button>
          <button mat-menu-item>Re-Send Invitation</button>
          <button mat-menu-item>Delete Tenant</button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tenant">
        <button mat-icon-button (click)="deleteTenant(tenant)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns sticky: true"
      class="table-header"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      class="table-row"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
