<mat-form-field appearance="outline">
  <mat-label>Search Users</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    #input
    type="text"
    autocomplete="off"
    aria-label="Search Users"
    name="search-items"
  />
</mat-form-field>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let user">
        <ngx-avatars
          [src]="user?.avatar_url"
          [size]="50"
          [round]="true"
          
        ></ngx-avatars>
      </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="tenant_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tenant</th>
      <td mat-cell *matCellDef="let user">{{ user.tenant_name }}</td>
    </ng-container>

    <ng-container matColumnDef="role_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let user">{{ user.role_name }}</td>
    </ng-container>



    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let user">{{ user.title }}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let user">
        {{ user.created_at | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="last_login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Login</th>
      <td mat-cell *matCellDef="let user">
        {{ user.last_login | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registered</th>
      <td mat-cell *matCellDef="let user">
        {{ user.is_registered ? 'Yes' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="is_registered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let user">
        {{ user.is_active ? 'Yes' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="edit" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="editUser(user)">Edit User</button>
          <button
            mat-menu-item
            [routerLink]="['/features/admin/users', user.id]"
          >
            View User Details
          </button>
          <button mat-menu-item>Send Reset Password</button>
          <button mat-menu-item>Re-Send Invitation</button>
          <button mat-menu-item (click)="deleteUser(user)">Delete User</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      class="table-header"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      class="table-row"
    ></tr>
  </table>
</div>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  class="table-footer"
>
</mat-paginator>
