<mat-dialog-content>
  <mat-card-title>Add Tenant</mat-card-title>
  <form [formGroup]="addTenantForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Tenant Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="addTenantForm.get('name')?.hasError('required')">
        Tenant name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Logo URL</mat-label>
      <input matInput formControlName="logo_url" />
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-flat-button color="warn" type="button" (click)="onCancel()">
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="addTenantForm.invalid"
      >
        Add Tenant
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
