<h2 mat-dialog-title>Edit Role</h2>
<form [formGroup]="editRoleForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Role Name</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role Description</mat-label>
      <input type="text" matInput formControlName="description">
    </mat-form-field>

    <mat-checkbox formControlName="is_active">Is Active</mat-checkbox>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="editRoleForm.invalid">Update Role</button>
  </mat-dialog-actions>
</form>