@use "@angular/material" as mat;


// Configure Material Theme
@mixin color($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
  // If Theme is Dark:
  @if mat.get-theme-type($theme) == dark {

    .logo-horizontal {
      filter: invert(100%);
    }
    .logo-square {
      filter: invert(100%);
    }
  } @else {
    // If Theme is Light:

    .logo-horizontal {
      filter: invert(0%);
    }
    .logo-square {
      filter: invert(0%);
    }
  }
}
